.bg-2{
	display: none;
	padding: 10px 5px;
}

.bg-1{
	cursor: pointer;
	padding: 16px;
}

#movingbox{
	position: relative;
	top: 0;
	left: 50px;
    margin: 5px;
}

.addremoveclass{
	cursor: pointer;
}

.addremoveclass:hover{
	color: red !important;
}

.highlight{
	background-color: yellowgreen;
	color: red !important;
}

#draggable { width: 150px; height: 150px; padding: 0.5em; background-color: red}

#feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em;  padding: 5px}

  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em;  background: #F39814; padding: 5px}
  #sortable li span { position: absolute; margin-left: -1.3em; padding: 5px, }

  .accordion-header{
  	cursor: pointer;
  }

  #dialog{
  	display: none;
  }

  .ui-progressbar {
    position: relative;
  }
  .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }

.toggler { width: 500px; height: 200px; position: relative; }
    #button { padding: .5em 1em; text-decoration: none; }
    #effect { width: 240px; height: 170px; padding: 0.4em; position: relative; background: #fff; }
    #effect h3 { margin: 0; padding: 0.4em; text-align: center; }